.Intro {

}

.intro-container {
    background: rgba(0, 0, 0, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.9);
    padding: 1.5em 2em;
    color: white;
    
    h1 {
        text-shadow: 1px 1px 1px gray;
    }

    .thick {
        height: 6px;
        min-width: 235px;
        width: 75%;
        background: white;
        text-align: left;
        padding: 0;
        margin: 15px 0 10px 0;
        position: relative;
        top: -10px;
    }

    p {
        text-align: center;
    }

    .signature {
        text-align: right;
        float: right;
        
        .signature-name {
            display: block;
        }
    }
}